@import 'colors';
@import 'homepage'; 
@import 'navbar';
@import 'contact';
@import 'about';
@import 'home';
@import 'shop';

html{
    background-color:$purple;
    color: $mint-green;
    font-family: 'Raleway', sans-serif;
}


