@import 'colors';
@import 'homepage'; 
@import 'navbar';
@import 'contact';
@import 'about';
@import 'home';
@import 'shop';
@import 'shop-cart';
@import 'cart';
@import 'login';

html {
    background-color:$purple;
    color: $mint-green;
    font-family: 'Raleway', sans-serif;
}


