html{
    background-color: #504c65;
    color: #A5D3CE;
    font-family: 'Raleway', sans-serif;
}

@import 'homepage'; 
@import 'navbar';
@import 'contact';
@import 'about';
@import 'home';
@import 'shop';