.nav-link-wrapper  {
    width: 280px;
    font-size: 30px;
    // display: flex;
    // flex-direction: row;
   
    a{
        text-decoration: none;
        color:  #A5D3CE;

        &:hover{
            color:#F6FCFC;
        }
    }

}

.left-side{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}
.right-side{
    display: flex;
    flex-direction: row;
    padding-left: 900px;

}