.nav-link-wrapper  {
    width: 100%;
    font-size: 30px;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    a{
        text-decoration: none;
        color:  $mint-green;
        padding: 15px;

        &:hover{
            color: $white;
        }
    }

}

.left-side{
    display: inline-block;
    width: initial;
    white-space: nowrap;
    float: left;
    padding-top: 50px;
    padding-left: 120px;
    z-index: inherit;
    
}
.right-side{
    display: inline-block;
    width: initial;
    float: right;
    padding-top: 50px;
    padding-right: 252px;
    white-space: nowrap;
    

}
.logo img {
    width: 249px;
    height: 190px;
    white-space: nowrap;
    // padding-left: 660px;
    display: inline-block;
    width: initial;
    // vertical-align: center;
position: absolute;
left: 40%;
top: 15%;
transform: translateY(-50%);
-ms-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-o-transform: translateY(-50%);
}

.cart a{
    text-decoration: none;
    font-size: 40px;
    position: absolute;
    left: 92%;
    top: 1%;
    color: $mint-green;
&:hover{
    color: $white;
}
}

.login a{
    text-decoration: none;
    font: 40px;
    position: absolute;
    left: 89%;
    top: 1%;
    color: $mint-green;
    &:hover{
        color: $white;
    }
}