.shop {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: transparent;
  width: 380px;
  height: 437px;
  perspective: 1000px;
  margin-top: 150px;
  // margin-right: 45px;
  img {
    width: 380px;
    height: 437px;
  }
}
.top > .shop {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  perspective: 1000px;
  background-color: transparent;
}

.shop-item__front {
  position: relative;
  text-align: center;
  transition: transform 0.8s ease-in-out;
  transform-style: preserve-3d;
}

.shop:hover .shop-item__front {
  transform: rotateY(180deg);
}
.shop:hover .shop-item__back {
  transform: rotateX(0deg);
}
.shop-item__front,
.shop-item__back {
  position: absolute;
  width: 380px;
  height: 437px;
  backface-visibility: hidden;
}
.shop-item__front {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.shop-item__back {
  background-color: dodgerblue;
  color: white;
  transform: rotateX(-180deg);
  width: 380px;
  height: 437px;
  transition: transform 0.8s ease-in-out;
  transform-style: preserve-3d;
  display: grid;
  grid-template-rows: 15px [title-s] 30px [title-e description-s] 1fr [description-e price-s] 25px [price-e footer-s] 65px [footer-e] 15px;
  grid-template-columns: 15px [s] 1fr [e] 15px;
  justify-items: start;
  grid-row-gap: 7px;
  & > * {
    grid-column: s/e;
  }

  &__title {
    margin-bottom: 350px;
    grid-row: title-s/title-e;

    color: $white;

    font-size: 16px;
    font-weight: 500;
  }

  &__description {
    grid-row: description-s/description-e;

    font-size: 13px;
    color: $white;
  }

  &__price {
    grid-row: price-s/price-e;
  }

  &__quantity {
    grid-row: footer-s/footer-e;
  }
  &__add-to-cart {
    justify-self: end;
    grid-row: footer-s/footer-e;
    height: 40px;
    width: 97px;
    border-radius: 20px;
    color: white;
    background-color: $mint-green;
    font-weight: 600;
    font-size: 12px;
    display: grid;
    justify-items: center;
    align-items: center;
  }
}
