.shop{
    .top{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 350px;
    padding-right: 45px;
    }
    img {
        
        
        width: 380px;
         height: 437px;
}
}
