// .shop {
//   display: grid;
//   // grid-template-rows: 1/-1;
//   // grid-template-columns: 1/-1;
//   // perspective: 150rem;
//   // -moz-perspective: 150rem;

//   & > * {
//     grid-row: 1/-1;
//     grid-column: 1/-1;
//   }
//   // &__front,
//   // &__back {
//   //     backface-visibility: hidden;
//   //     transition: all .3s ease;
//   // }

//   // &__back {
//   //     transform: rotateY(-180deg);
//   // }
//   // &:hover &__front {
//   //     transform: rotateY(180deg);
//   // }
//   // &:hover &__back{
//   //     transform: rotateY(0deg);
//   // }

//   .top {
//     display: grid;
//     grid-template-rows: 1fr;
//     grid-template-columns: 1fr 1fr 1fr;
//     perspective: 1000px;
//     background-color: transparent;
//   }
//   .bottom {
//     display: grid;
//     grid-template-rows: 1fr;
//     grid-template-columns: 1fr 1fr 1fr;
//     // margin-top: 150px;
//     // margin-right: 45px;
//     // perspective: 1000px;
//     // background-color: transparent;
//   }
//   img {
//     width: 380px;
//     height: 437px;
//     margin-top: 150px;
//     margin-right: 45px;

//     transform: rotateX(0deg);
//     &:hover {
//       transform: rotateX(180deg);
//       backface-visibility: hidden;
//       transition: all 0.3s ease;
//       // transform: rotateY(0deg);
//     }
//   }

//   .shop-item__front {
//     &__title {
//       color: #333333;
//       font-size: 18px;
//       width: 380px;
//       height: 437px;
//       // margin-top: 150px;
//       margin-top: 150px;
//       margin-right: 45px;
//     }
//   }
//   .shop-item__back {
//     width: 380px;
//     height: 437px;
//     // margin-top: 150px;
//     margin-top: 150px;
//     margin-right: 45px;
//     // padding-bottom: 100px;
//     background-color: $purple;
//     // backface-visibility: hidden;
//     box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
//     // &:hover{
//     //     transform: rotateY(180deg);
//     //     backface-visibility: hidden;
//     //    transition: all .3s ease;
//     // }

//     display: grid;
//     grid-template-rows: 15px [title-s] 30px [title-e description-s] 1fr [description-e price-s] 25px [price-e footer-s] 65px [footer-e] 15px;
//     grid-template-columns: 15px [s] 1fr [e] 15px;
//     justify-items: start;
//     grid-row-gap: 7px;

//     & > * {
//       grid-column: s/e;
//     }

//     &__title {
//       margin-bottom: 350px;
//       grid-row: title-s/title-e;

//       color: $white;

//       font-size: 16px;
//       font-weight: 500;
//     }

//     &__description {
//       grid-row: description-s/description-e;

//       font-size: 13px;
//       color: $white;
//     }

//     &__price {
//       grid-row: price-s/price-e;
//     }

//     &__quantity {
//       grid-row: footer-s/footer-e;
//     }
//     &__add-to-cart {
//       justify-self: end;
//       grid-row: footer-s/footer-e;

//       height: 40px;
//       width: 97px;
//       border-radius: 20px;
//       color: white;
//       background-color: $mint-green;
//       font-weight: 600;
//       font-size: 12px;

//       display: grid;
//       justify-items: center;
//       align-items: center;

//       transition: all 0.3s ease;

//       &:hover {
//         transform: scale(0.97);
//       }

//       &:active {
//         transform: scale(0.95);
//       }
//     }
//   }
// }

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.shop {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: transparent;
  width: 380px;
  height: 437px;
  // border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  img {
    width: 380px;
    height: 437px;
    margin-top: 150px;
    margin-right: 45px;
  }
}
.top > .shop {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  // perspective: 1000px;
  background-color: transparent;
}
/* This container is needed to position the front and back side */
.shop-item__front {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.shop:hover .shop-item__front {
  transform: rotateY(180deg);
}
.shop:hover .shop-item__back {
  transform: rotateY(0deg);
}
/* Position the front and back side */
.shop-item__front,
.shop-item__back {
  position: absolute;
  width: 380px;
  height: 437px;
  // -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.shop-item__front {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  // background-color: #bbb;
  // color: black;
}

/* Style the back side */
.shop-item__back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(-180deg);
  width: 380px;
  height: 437px;
  margin-top: 150px;
  margin-right: 45px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  //  backface-visibility: hidden;
  display: grid;
  grid-template-rows: 15px [title-s] 30px [title-e description-s] 1fr [description-e price-s] 25px [price-e footer-s] 65px [footer-e] 15px;
  grid-template-columns: 15px [s] 1fr [e] 15px;
  justify-items: start;
  grid-row-gap: 7px;
  & > * {
    grid-column: s/e;
  }

  &__title {
    margin-bottom: 350px;
    grid-row: title-s/title-e;

    color: $white;

    font-size: 16px;
    font-weight: 500;
  }

  &__description {
    grid-row: description-s/description-e;

    font-size: 13px;
    color: $white;
  }

  &__price {
    grid-row: price-s/price-e;
  }

  &__quantity {
    grid-row: footer-s/footer-e;
  }
  &__add-to-cart {
    justify-self: end;
    grid-row: footer-s/footer-e;
    height: 40px;
    width: 97px;
    border-radius: 20px;
    color: white;
    background-color: $mint-green;
    font-weight: 600;
    font-size: 12px;
    display: grid;
    justify-items: center;
    align-items: center;
  }
}
